@plugin "daisyui/theme" {
    name: "pastel-dark";
    default: false;
    prefersdark: true; /* Indicates this is a dark theme */
    color-scheme: "dark";
  
    /* Black Shades */
    --black-100: rgba(255,255,255,1);
    --black-80: rgba(255,255,255,0.8);
    --black-40: rgba(255,255,255,0.4);
    --black-20: rgba(255,255,255,0.2);
    --black-10: rgba(255,255,255,0.1);
    --black-4: rgba(255,255,255,0.04);
  
    /* White Shades */
    --white-100: rgba(0,0,0,1);
    --white-80: rgba(0,0,0,0.8);
    --white-40: rgba(0,0,0,0.4);
    --white-20: rgba(0,0,0,0.2);
    --white-10: rgba(0,0,0,0.1);
    --white-4: rgba(0,0,0,0.04);
  
    /* Primary Colors */
    --primary-brand: rgba(159,159,248,1);
  
    /* Secondary Colors */
    --secondary-purple: rgba(201,179,237,1);
    --secondary-indigo: rgba(159,159,248,1);
    --secondary-blue: rgba(146,191,255,1);
    --secondary-cyan: rgba(174,199,237,1);
    --secondary-mint: rgba(150,226,214,1);
    --secondary-green: rgba(148,233,184,1);
    --secondary-yellow: rgba(255,219,86,1);
    --secondary-orange: rgba(255,181,91,1);
    --secondary-red: rgba(255,71,71,1);
  
    /* Background Colors */
    --background-1: rgba(42,42,42,1);
    --background-2: rgba(255,255,255,0.04);
    --background-3: rgba(230,241,253,1);
    --background-4: rgba(237,238,252,1);
    --background-5: rgba(0,0,0,0.1);
  }