@import "tailwindcss";

@theme {
  --spacing-80: '80px';
  --spacing-4: '4px';

  --color-black-5: var(--black-5)
}

@plugin "daisyui/theme" {
  name: "pastel-light";
  default: true;

  color-scheme: "pastel-light";
  --black-100': rgba(28, 28, 28, 1);
  --black-80': rgba(28, 28, 28, 0.8);
  --black-40': rgba(28, 28, 28, 0.4);
  --black-20': rgba(28, 28, 28, 0.2);
  --black-10': rgba(28, 28, 28, 0.1);
  --black-5': rgba(28, 28, 28, 0.05);
}